/********************************************************************************

  Programmer: Robert Aguilar

  Date:		  10/21/20

  Filename:   teal_1.css


********************************************************************************/

body
{
	background-;
	background-;
	background-;
	background-;
	background-;

	background-color: #008080;

	color: #00ffff;
}
table
{

}
.h1_top
{
	text-align: center;
}
.nav_top
{
	text-align: center;
}
a:link
{
	color: #afeeee;	
}
a:visited
{
	color: #00ffff;
}
a:hover
{
	color: #e0ffff;
}
.space
{
	letter-spacing: 0.5em;
	margin: .9em;
	cursor: pointer;
	text-decoration: underline;
}
footer
{
	text-align: center;
}
.dark-mode
{
	background-color: #333333;
	color: #40e0d0;
}
figure
{
	
}
video
{

}

/****************************************************************************************************

****************************************************************************************************/
  body
  {
	background-size: 50px;
	background-position: center center;
	background-repeat: repeat-x; 
	background-attachment: fixed;
  
    background-color: #008080;
  }
  .h1_top
  {
	  text-align: center;
  }
  .nav_top
  {
	  text-align: center;
  }
  table
  {
    color: #40e0d0;
  }
  a:link
  {
    color: #afeeee;
  }
  a:visited
  {
    color: #00ffff;
  }
  a:hover
  {
    color: #e0ffff;
  }
  footer
  {
	  text-align: center;
  }
  .dark-mode
  {
	background-color: #000000;
	color: #40e0d0;
  }
  figure
  {
    display: inline-block;
  }
  video
 {
		display: inline-block;
				 
 }
