.bg-video {
    position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50%;
  mask-image: linear-gradient(to top, transparent 0%, black 50%, transparent 100%);
  user-select: auto;
  pointer-events: none;
  filter: grayscale(0.8);
  aspect-ratio: 16/9;
}
