/* file named styles.css in theLeviathan repository */

.bg-video {

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    user-select: auto;
    pointer-events: auto;
    text-align: center;
    aspect-ratio: 16/9;
}
