body {
    background-color: #00bce4;
}

p {
    color: #f26b8a;
    background-color: #00bce4;
}

h1 {
    color: #e11584;

    text-align: center;
}

table, th, td {
    padding: 25px;
}

#ofc video {
    object-fit: cover;
}

#off video {
    object-fit: fill;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 150%;
  line-height: 1.4;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  color: #00bce4;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}
  span {
    display: block;
    font-size: 10vw;
    letter-spacing: -0.3vw;
  }

main {
  display: none;
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}
